body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: row; 
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
    padding: 20px;
}

.calculator {
    box-sizing: border-box;
    min-width: 50%;
    min-height: 100%;
    flex-direction: column;
    flex: 1;
    padding-right: 20px;
}

#savings-form { 
    flex-direction: column;
}

.results {
    box-sizing: border-box;
    min-width: 50%;
    min-height: 100%;
    flex: 1;
    padding-left: 20px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    border-left: 1px solid #ddd;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;  
    }

    .calculator,
    .results {
        justify-content: space-around;
        min-width: 100%;
        min-height: 50%;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 10px;
        border-left: none; 
    }
}

h1 {
    font-family: 'IBM Plex Sans Condensed';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

form label {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    color: rgba(255, 0, 0, 0.7); 
    font-style: italic; 
}


button {
    background-color: rgb(2, 48, 71);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 16px;
    width: 100%;
}



button:hover {
    background-color: rgb(15, 9, 48);
}

#total-savings {
    font-size: 20px;
    margin-top: 20px;
}

#breakdown {
    list-style-type: none;
    padding: 0;
}
